<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Construção</title>
</head>
<body>
    <h1>Adicionar Nova Construção em {{ planet_name }}</h1>

    <form method="POST" action="">
        <label for="building_name">Nome da Construção:</label>
        <input type="text" id="building_name" name="building_name" required><br>

        <label for="building_type">Tipo de Construção:</label>
        <select id="building_type" name="building_type">
            <option value="Fazenda">Fazenda</option>
            <option value="Mina">Mina</option>
            <option value="Gerador">Gerador</option>
        </select><br>

        <button type="submit">Adicionar Construção</button>
    </form>

    <a href="{{ url_for('planet_details', username=username, empire_name=empire_name, planet_name=planet_name) }}">Voltar para o Planeta</a>
</body>
</html>
