<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Império: {{ empire['name'] }}</title>
</head>
<body>
    <h1>Império: {{ empire['name'] }}</h1>
    <h2>Planetas Controlados:</h2>
    <ul>
        {% for planet in empire['planets'] %}
        <li>
            <a href="{{ url_for('planet_details', username=username, empire_name=empire['name'], planet_name=planet['name']) }}">
                {{ planet['name'] }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_planet', username=username, empire_name=empire['name']) }}">
        <button>Adicionar Planeta</button>
    </a>
    <a href="{{ url_for('empire_details', username=username, empire_name=empire['name']) }}">Voltar</a>
</body>
</html>
